<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a48474">  <td>19/04/28 17:57:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTestCases.addToCart()[pri:2, instance:ExecuteTestCases@68c4039c]">addToCart</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/04/28 17:57:17</td>   <td>8591</td> <td title="&lt;&lt;ExecuteTestCases.close()[pri:0, instance:ExecuteTestCases@68c4039c]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/04/28 17:56:57</td>   <td>-11347</td> <td title="&gt;&gt;ExecuteTestCases.initialize()[pri:0, instance:ExecuteTestCases@68c4039c]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/04/28 17:57:03</td>   <td>-5227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTestCases.login()[pri:0, instance:ExecuteTestCases@68c4039c]">login</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/04/28 17:57:12</td>   <td>3442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTestCases.removeItem()[pri:4, instance:ExecuteTestCases@68c4039c]">removeItem</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/04/28 17:57:04</td>   <td>-4615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTestCases.searchForCategory()[pri:1, instance:ExecuteTestCases@68c4039c]">searchForCategory</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/04/28 17:57:10</td>   <td>2069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTestCases.takeScreenShoot()[pri:3, instance:ExecuteTestCases@68c4039c]">takeScreenShoot</td> 
  <td>main@1540011289</td>   <td></td> </tr>
</table>
